<p style="color: green"><%= notice %></p>

<h1>Monuments</h1>

<div id="monuments">
  <% @monuments.each do |monument| %>
    <%= render monument %>
    <p>
      <%= link_to "Show this monument", monument %>
    </p>
  <% end %>
</div>

<%= link_to "New monument", new_monument_path %>
